
// font stack
$font-bold:     'latobold', sans-serif;
$font-semi:     'latomedium', sans-serif;
$font-regular:  'latoregular', sans-serif;
$font-light:    'latothin', sans-serif;


// colors
$asphalt:       #424B54;
$asphalt-dark:  #384047;

$blue:          #2E95CA;
$grey:          #B1B1B1;
$grey-dark:     #8A9399;
