<header>
    <h1>{{ workshop.title }}</h1>
    <p><strong>{{ (workshop.starts_at | amDateFormat:'DD MMM YYYY @ HH:mm') || "TBA" }}</strong> | {{
        workshop.instructor.first_name }} {{ workshop.instructor.last_name }}</p>
    <span class="session-image di" data-ng-class="workshop.icon_class"></span>
</header>
<div class="sub-header">


    <div data-ng-switch="moment().isBefore(workshop.starts_at)">

        <div data-ng-switch-when="true">

            <dl class="wrapmeup" data-ng-hide="hasRsvpd(user)">
                <dt class="pull-left">RSVP For This Workshop</dt>
                <dd class="pull-right">
                    <button type="button" class="btn primary" data-ng-click="rsvp(workshop.id)">RSVP</button>
                </dd>
            </dl>

            <dl class="wrapmeup" data-ng-show="hasRsvpd(user)">
                <dt class="pull-left">You are attending this Workshop</dt>
            </dl>

        </div>
        <div data-ng-switch-when="false">
            <dl class="wrapmeup">
                <dt class="pull-left">This Workshop has passed</dt>
            </dl>
        </div>

    </div>

</div><!-- end.sub-header -->

<main class="wrapmeup">

    <section class="white-box">
        <h2>What's In The Workshop</h2>
        <p data-ng-bind-html="sce.trustAsHtml(workshop.description)"></p>
    </section>

    <!--<section class="white-box">-->
    <!--<h4 class="pull-left blue">Workshop Sample Files</h4>-->
    <!--<a href="#" class="link di di-icn-link pull-right" target="_blank">http://github.com/famous-dev-dude/getting_started</a>-->
    <!--</section>-->

    <section class="white-box right-hero">

        <span class="hero di di-icn-converation"></span>
        <h4 class="blue">Got Questions? Start a conversation.</h4>
        <p>If you have any questions around this workshop feel free to start a conversation! We’ll answer as soon as we can.</p>

        <comment workshop="workshop"></comment>

    </section>

    <section class="white-box" data-ng-if="workshop.comments.length > 0">

        <div class="question-holder" data-ng-repeat="comment in workshop.comments" data-ng-if="!comment.parent">
            <dl class="question">
                <dt>{{ comment.body }}</dt>
                <dd>{{ comment.author.first_name }} {{ comment.author.last_name }} | {{ comment.created_at |
                    amDateFormat: 'DD MMM YYYY HH:mm' }}
                </dd>
            </dl><!-- end.question -->

            <div class="answer" data-ng-if="comment.replies.length > 0" data-ng-repeat="reply in comment.replies">
                <h6>Reply From {{ reply.author.first_name }} {{ reply.author.last_name }}:</h6>
                <p>{{ reply.body }}</p>
            </div><!-- end.answer -->

            <comment workshop="workshop" parent="comment" data-ng-if="comment.replies.length === 0 && user.roles.indexOf('ROLE_LECTURER') >= 0"></comment>

        </div><!-- end.question-holder -->

    </section>

</main>
