<main>

    <form id="form-login" name="form" novalidate>

        <div class="form-inner">
            <a href="#" data-ui-sref="app.home" class="logo di di-icn-logo"></a>
            <p>Login</p>
            <label>
                <input type="text" name="_username" id="_username" placeholder="Username" data-ng-model="loginForm._username" />
                <span class="stripe"></span>
            </label>
            <label>
                <input type="password" name="_password" id="_password" placeholder="Password" data-ng-model="loginForm._password" required />
                <span class="stripe"></span>
            </label>

            <div class="form-actions">
                <!--<a href="#" class="pull-left texty">Forgot Password</a>-->
                <a href="#" class="pull-right btn" data-ng-click="login(form)">Login</a>
            </div>
            <p class="message error">Invalid Email/Password Combination</p>
        </div><!-- end.form-inner -->

    </form>

</main>