<main>
    <form name="form">
        <label class="form_field" for="_username">
            <input type="text" name="_username" id="_username" placeholder="Username" data-ng-model="loginForm._username" required>
        </label>
        <label class="form_field" for="_password">
            <input type="password" name="_password" id="_password" placeholder="Password" data-ng-model="loginForm._password" required>
        </label>
        <button data-ng-click="login(form)">Login</button>
    </form>
</main>