<form name="form" novalidate>

    <textarea name="comment" data-ng-model="commentForm.comment" data-ng-minlength="10" required></textarea>

    <input type="hidden" name="workshop_id" data-ng-init="commentForm.workshop_id = workshop.id" />
    <input type="hidden" name="parent_id" data-ng-init="commentForm.parent_id = parent.id" />

    <button type="button" class="btn primary" data-ng-class="{ 'loading': sending }" data-ng-click="addComment(form)" data-ng-disabled="form.$invalid">Add Comment</button>

</form>
